@import '../../global.scss';

.contact {
	background-color: white;
	color: $primaryColor;
	display: flex;
	flex-direction: column;

	.top {
		flex: 0.85;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			font-size: 40px;
			padding: 20px;
		}

		form {
			width: 60%;
			height: 60%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.input {
				width: 300px;
				margin: 10px;

				@include mobile {
					width: 250px;
				}
			}

			.error {
				border: 3px solid red;
			}

			.textarea {
				width: 400px;
				height: 200px;
				margin: 15px;

				@include mobile {
					width: 250px;
				}
			}

			button {
				width: 150px;
				height: 30px;
				color: $secondaryColor;
				background-color: $primaryColor;
				border-radius: 10px;
				font-weight: 500;
				cursor: pointer;

				&:focus {
					outline: none;
				}
			}

			span {
				color: $primaryColor;
			}
		}
		.error-text {
			color: red;
			font-size: 20px;
			padding-top: 1.5%;
		}
	}
	.bottom {
		flex: 0.15;
		background-color: $secondaryColor;
		display: flex;
		justify-content: center;

		.iconContainer {
			display: flex;
			align-items: center;

			a {
				color: $primaryColor;
				margin: 0 15px;

				.icon {
					font-size: 50px;
				}
				&:hover {
					color: $tertiaryColor;
				}
			}
		}
	}
}
